*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    background: #0F2027;
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); 
    color: white;
}
header{
    padding: 2rem;
    width: 100%;
    color: white;
    font-size: 35px;
    text-align: center;
    /*animation-name: text;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    transition: all 0.3s ease;*/
}
@keyframes sending {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes text {
    0%{
        color: white;
    }
    20%{
        color: #2C5364;
    }
    40%{
        color: #203A43;
    } 
    60%{
        color: #0F2027;
    }
    80%{
        color: white;
    }
}
main{
    width: 100%;
    height: 78.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    border: 1px solid white;
    border-radius: 6px;
    height: 400px;
    padding: 10px;
    box-shadow: -1px 5px 10px white;
}
.text{
    padding: 5px;
    font-size: 30px;
    line-height: normal;
    margin-top: 7px;
}
.first{
    margin-bottom: -10px;
}
.last{
    margin-bottom: 20px;
}
form > input{
    display: block;
    width: 200px;
    border-radius: 6px;
    height: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #2C5364;
    outline: none;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 15px;
    margin-bottom: 15px;
    caret-color: white;
    transition: all 0.5s ease;
    color: white;
}
.fa-arrow-left{
    cursor: pointer;
    font-size: 20px;
}
.forget{
    position: absolute;
    bottom: 0;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    left: 0;
}
.forget p {
    cursor: pointer;
    text-decoration: underline;
}
form > button {
    font-size: 12px;
    padding: 7px 17px;
    border-radius: 10px;
    border: none;
    background-color: #0F2027;
    color: white;
    box-shadow: 0 2px 5px white;
    transition: all 0.2s ease;
}
form > button:hover{
    box-shadow: 0 4px 7px white;
    margin-top: -5px;
}
form > button:active{
    box-shadow: 0 2px 5px white;
    margin: 0;
}
form p {
    margin-top: 10px;
}